.dashboard {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.dashboard-container {
  gap: 4em;
  display: flex;
  flex-direction: column;
  max-width: 900px; /* optional, keeps content centered */
  padding: 0 1em 0 1em;
  padding-bottom: 10em;
}
