.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h3 {
  color: var(--text);
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 0.75em;
}

h4 {
  color: var(--border);
  font-size: 1.25em;
  margin: 0;
}
.h1 {
  color: var(--primary);
  font-size: 4em;
  margin: 0;
  -webkit-text-stroke: 2px var(--secondary);
}

p {
  color: var(--border);
  font-size: 1em;
  margin: 0;
  margin-top: 0.5em;
}

.quality-good {
  color: #778bfc;
}

.quality-moderate {
  color: #46a348;
}

.quality-poor {
  color: #ffc054;
}

.quality-hazardous {
  color: #db2f2c;
}
